body {
	padding: 8px;
	margin: 1;
	font-family: -apple-system, BlinkMacSystemFont, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	line-height: 2.0;
	font-size: 15px;
}

h1 {
  color: blue;
  border: 10px solid blue;
}

p {
  color: red;
  border: 2px solid powderblue;
}

h2 {
  color: red;
}
